@import './reset';

body {
  font-family: monospace;
  margin: 0;
  font-size: 1.3rem;
  font-weight: normal;
}

code {
  font-family: Consolas, 'courier new';
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  display: flex;
}

canvas {
  display: block;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:radial-gradient(circle, rgba(50, 33, 67, 0) 55%, rgb(0 0 0 / 65%) 100%);
  z-index: 1;
  pointer-events: none;
}

code {
  font-family: Consolas, 'courier new';
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
}

#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}

.loader-screen {
  position: absolute;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#100e0e, #000507);

  .loader-wrapper {
    text-align: center;
    color: #f1f1f1;

    > img {
      width: 25vw;
      min-width: 300px;
    }

    .loader-text {
      transform: translate(0, -100%);
      font-size: 0;
      opacity: 0;
    }
  }
  // todo: dokończyć loader z czerwonego przechodzący w zielony zgodnie ze stopniem załadownia + counter "%" załadowania

  .loader {
    display: flex;
    height: 2px;

    margin: 2rem 0;

    div {
      flex: 1;
      background: rgb(255, 72, 0);
      animation: go 1200ms infinite alternate linear;
      box-shadow: 0px 0px 20px 2px red;

      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: 50ms * (10 - $i);
        }
      }
    }

    @keyframes go {
      100% {
        background: transparent;
        flex: 10;
        box-shadow: 0 0 0 transparent;
      }
    }
  }
}
